invkLock_XZ89_0_95 invkLock 3 0 1 2 transLI 2 3 1 syncCLC 3 0 3 2
elemLock_XZ89_1_95 elemLock 3 0 1 2 transLE 2 3 1 syncCLC 3 0 3 2
unlockedM_XZ89_2_95 unlockedM 4 0 1 2 3 syncC 1 3 threadACM 3 0 1 2
unlockedI_XZ89_3_95 unlockedI 4 0 1 2 3 unlockedM 4 0 1 4 3 MI 2 4 2 !invkLock 3 1 2 3 !threadStartI 1 2
unlockedM_XZ89_4_95 unlockedM 4 0 1 2 3 unlockedI 4 0 4 5 3 thrSenCICM 4 4 5 1 2
unlockedE_cs_XZ89_5_95 unlockedE_cs 4 0 1 2 3 unlockedM 4 0 1 4 3 ME 2 4 2 !elemLock 3 1 2 3
