reachableLR_XZ89_0 reachableLR 2 0 1 MobjVarAsgnInst 3 2 0 1 reachableCM 2 3 2 !checkExcludedM 1 2 
ptsVH_XZ89_1 ptsVH 2 0 1 CVC 3 2 0 3 CH 2 3 1
ptsVT_XZ89_2 ptsVT 2 0 1 ptsVH 2 0 2 HT 2 2 1
downcast_XZ89_3 downcast 2 0 1 reachableLR 2 2 0 VT 2 2 1 VT 2 0 3 !sub 2 3 1
unsafeDowncast_XZ89_4 unsafeDowncast 2 0 1 downcast 2 0 1 ptsVT 2 0 2 !sub 2 2 1
safeDowncast_XZ89_5 safeDowncast 2 0 1 downcast 2 0 1 !unsafeDowncast 2 0 1
