alloc_XZ89_0_5 alloc 2 0 1 reachableM 1 2 MobjValAsgnInst 3 2 0 1
alloc_XZ89_1_5 alloc 2 0 1 reachableI 1 2 objNewInstIM 2 2 3 MmethArg 3 3 _0  0 objNewInstIH 2 2 1 VHfilter 2 0 1
alloc_XZ89_2_5 alloc 2 0 1 reachableI 1 2 objNewInstIH 2 2 1 IinvkRet 3 2 _0  0 VHfilter 2 0 1
alloc_XZ89_3_5 alloc 2 0 1 reachableI 1 2 conNewInstIM 2 2 3 IinvkArg 3 2 _1  4 MmethArg 3 3 _1  0 VH 2 4 5 HFH 3 5 _0  1 VHfilter 2 0 1
alloc_XZ89_4_5 alloc 2 0 1 reachableI 1 2 conNewInstIM 2 2 3 MmethArg 3 3 _0  0 conNewInstIH 2 2 1 VHfilter 2 0 1
alloc_XZ89_5_5 alloc 2 0 1 reachableI 1 2 conNewInstIH 2 2 1 IinvkRet 3 2 _0  0 VHfilter 2 0 1
alloc_XZ89_6_5 alloc 2 0 1 reachableI 1 2 aryNewInstIH 2 2 1 IinvkRet 3 2 _0  0 VHfilter 2 0 1
move_XZ89_7_5 move 2 0 1 reachableM 1 2 MobjVarAsgnInst 3 2 0 1
move_XZ89_8_5 move 2 0 1 reachableI 1 2 IinvkArg 3 2 3 1 IM 2 2 4 MmethArg 3 4 3 0
move_XZ89_9_5 move 2 0 1 reachableI 1 2 IinvkRet 3 2 3 0 IM 2 2 4 MmethRet 3 4 3 1
sload_XZ89_10_5 sload 3 0 1 2 reachableM 1 3 MgetInstFldInst 4 3 0 1 2
sstore_XZ89_11_5 sstore 3 0 1 2 reachableM 1 3 MputInstFldInst 4 3 0 2 1
loadGlobal_XZ89_12_5 loadGlobal 2 0 1 reachableM 1 2 MgetStatFldInst 3 2 0 1
storeGlobal_XZ89_13_5 storeGlobal 2 0 1 reachableM 1 2 MputStatFldInst 3 2 0 1
sVH_XZ89_14_5 sVH 2 0 1 alloc 2 0 1
sVH_XZ89_15_5 sVH 2 0 1 move 2 0 2 sVH 2 2 1
sVH_XZ89_16_5 sVH 2 0 1 move 2 2 0 sVH 2 2 1
sVH_XZ89_17_5 sVH 2 0 1 loadGlobal 2 0 2 sFH 2 2 1
sFH_XZ89_18_5 sFH 2 0 1 loadGlobal 2 2 0 sVH 2 2 1
sVH_XZ89_19_5 sVH 2 0 1 storeGlobal 2 2 0 sFH 2 2 1
sFH_XZ89_20_5 sFH 2 0 1 storeGlobal 2 0 2 sVH 2 2 1
sVH_XZ89_21_5 sVH 2 0 1 sload 3 0 2 3 sVH 2 2 4 sHFH 3 4 3 1
sHFH_XZ89_22_5 sHFH 3 0 1 2 sload 3 3 4 1 sVH 2 3 2 sVH 2 4 0
sVH_XZ89_23_5 sVH 2 0 1 sstore 3 2 0 3 sVH 2 2 4 sHFH 3 4 3 1
sHFH_XZ89_24_5 sHFH 3 0 1 2 sstore 3 3 4 1 sVH 2 4 2 sVH 2 3 0
